{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@services": "./src/services",
                    "@controllers": "./src/controllers",
                    "@models": "./src/models"
                }
            }
        ]
    ]
}
